{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    {# Begin flash message #}
    <div class="d-flex justify-content-center align-items-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {# End flash message #}

    <main class="profile-password-container">
        <h1 class="profile-password-title">Modification du mot de passe de {{ app.user.firstName }} {{ app.user.name }}</h1>
        <form class="profile-password-form" method="post">
            <div class="profile-password">
                <label
                        for="password"
                        class="form-label">
                    Nouveau mot de passe
                </label>
                <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Nouveau mot de passe"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{12,}$"
                        title="Le mot de passe doit contenir au moins 12 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial"
                >
            </div>
            <div class="profile-password">
                <label
                        for="password2"
                        class="form-label">
                    Confirmer le mot de passe
                </label>
                <input
                        type="password"
                        class="form-control form-control-last"
                        id="password2"
                        name="password2"
                        placeholder="Confirmer votre mot de passe"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{12,}$"
                        title="Le mot de passe doit contenir au moins 12 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial"
                >
            </div>
            <div class="btn-reservation-container ">
                <button type="submit" class="btn-reservation btn-form">Enregistrer</button>
            </div>
            <div class="btn-reservation-container">
                <a href="{{ path('app_profile') }}" class="btn-color btn-form" type="submit">Annuler</a>
            </div>
        </form>
    </main>

{% endblock %}
