{% extends 'base.html.twig' %}

{% block title %}Se Connecter !{% endblock %}

{% block body %}

    <main class="container-form">
        <h1>Connectez-vous !</h1>
        <form class="form form-login" method="post">
            <div class="d-flex justify-content-center align-items-center">
                {% if error %}
                    <div class="alert alert-danger text-center">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            </div>
            {% if app.user %}
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center text-light">
                        Vous êtes déjà connecté(e) en tant que {{ app.user.userIdentifier }}
                    </div>
                </div>
            {% endif %}
            <div>
            </div>
            <label for="inputEmail">E-mail</label>
            <input
                    type="email"
                    value="{{ last_username }}"
                    name="email" id="inputEmail"
                    class="form-control"
                    autocomplete="email"
                    required autofocus
            >
            <label for="inputPassword">Mot de passe</label>
            <input
                    type="password"
                    name="password"
                    id="inputPassword"
                    class="form-control"
                    autocomplete="current-password"
                    required
            >
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <p class="forgot-password">
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </p>
            <div class="container-btn-form">
                <button
                        class="btn-form btn-form-position btn-login"
                        type="submit"
                >
                    Se connecter
                </button>
            </div>
        </form>
    </main>

{% endblock %}
