{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    {#  Begin flash message  #}
    {# We display the flash message, if the regitration has a problem #}
    <div class="d-flex justify-content-center align-items-center">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger text-center" role="alert">{{ flash_error }}</div>
        {% endfor %}
    </div>
    {#  End flash message  #}

    <main class="container-form">
        <h1 class="form-title">Enregistrement</h1>
        <div class="form form-register-tablet container-pc">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                label: 'Email',
                attr: {
                    placeholder: 'Email'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                attr: {
                    placeholder: 'Mot de passe'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.name, {
                label: 'Nom',
                attr: {
                    placeholder: 'Nom'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.firstName, {
                label: 'Prénom',
                attr: {
                    placeholder: 'Prénom'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.defaultCustomerNumber, {
                label: 'Nombre de convives (facultatif)',
                attr: {
                    placeholder: 'Nombre de convives (facultatif)'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.default_allergies, {
                label: 'Allergies (facultatif)',
                attr: {
                    placeholder: 'Indiquez vos allergies (facultatif)'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <div class="container-btn-form">
                <button type="submit" class="btn-form btn-form-position btn-login">Enregistrement</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </main>

{% endblock %}
