{% extends 'base.html.twig' %}

{% block title %}bienvenue au Quai Antique{% endblock %}

{% block body %}
    {# We display the flash message, if the email has been verified #}
    <div class="d-flex justify-content-center align-items-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    <main>
        <h1 class="main-title">Bienvenue au Quai Antique</h1>
        <section class="image-container">
            {% for image in images %}
                <div class="image-home-container">
                    <img
                            class="image-home"
                            src="{{ vich_uploader_asset(image, 'imageFile') }}"
                            alt="Image de {{ image.image_title }}"
                    >
                    <div class="image-title-container">
                        <h2 class="image-title">{{ image.image_title }}</h2>
                    </div>
                </div>
            {% endfor %}
        </section>
        {# booking button template #}
        {% include "_partials/_booking-btn.html.twig" %}

        {# openings template for schedule #}
        {# The "raw" filter prevents HTML escaping of the timetable view #}
        {{ openingsView|raw }}
    </main>

{% endblock %}

