<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('/assets/img/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ asset('/assets/img/favicon.ico') }}">
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <meta
            name="Description"
            content="Le Quai Antique vous propose une déclinaison de plats raffinés
                        pour tout le monde, même pour les palais les plus exigeants.">
    <meta name="Author" content="Air-V">
    <meta name="Publisher" content="Michant Arnaud">
    <meta name="Revisit-After" content="15 days">
    <meta name="Robots" content="all">
    <meta name="Rating" content="general">
    <meta name="Distribution" content="global">
    <meta name="Geography" content="France - Chambéry - 73000">
    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap"
            rel="stylesheet"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    >
    {# Style sheets #}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {# JS Files #}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('assets/js/script.js') }}" defer></script>
</head>

<body>
{% include "_partials/_nav.html.twig" %}

{% block body %}{% endblock %}

{% include "_partials/_footer.html.twig" %}
</body>
</html>
